# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# build
client/build
client/semantic/dist
server/build

# misc
.DS_Store
.env.js
npm-debug.log
yarn-error.log
