.flex-centered {
	flex: 1;
	display: flex;
  flex-direction: column;
  justify-content: center;
}

.full-height {
	height: 100%;
}

.no-margin {
  margin: 0 !important;
}

.bg-black {
	background: black;
}

.bg-white {
	background: white !important;
}

.text {
  &.grey {
    color: #999;
  }
}

.transparent-white {
  background-color: rgba(255, 255, 255, 0.9) !important;
}