{
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module",
    "ecmaFeatures": {
        "jsx": true
    }
  },
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "semi": ["off", "always"],
    "quotes": ["error", "single"]
  }
}
